Monitor_Code/build/
assets/datasets/
Model_Code/Object_Detection/__pycache__
tools/
Server_Code/model_server/produce_detector/__pycache__
Server_Code/model_server/produce_detector/migrations/__pycache__
Server_Code/model_server/model_server/__pycache__/
.vscode/
Monitor_Code/sdkconfig
Monitor_Code/.vscode/
train_stats00.csv
Server_Code/Tests/assets/
Server_Code/model_server/media/images/*
!Server_Code/model_server/media/images/produce_bowl.jpg
sick.png
sick2.png
ESP_CASE
